body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1050px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:70px;
  top:40px;
  width:980px;
  height:30px;
}
#u0_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:986px;
  height:36px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:985px;
  height:35px;
}
#u2 {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:30px;
  font-size:18px;
  text-align:center;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:279px;
  height:30px;
}
#u3 {
  position:absolute;
  left:2px;
  top:4px;
  width:275px;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:279px;
  top:0px;
  width:228px;
  height:30px;
  font-size:18px;
  text-align:center;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:30px;
}
#u5 {
  position:absolute;
  left:2px;
  top:4px;
  width:224px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:507px;
  top:0px;
  width:228px;
  height:30px;
  font-size:18px;
  text-align:center;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:228px;
  height:30px;
}
#u7 {
  position:absolute;
  left:2px;
  top:4px;
  width:224px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:735px;
  top:0px;
  width:245px;
  height:30px;
  font-size:18px;
  text-align:center;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:245px;
  height:30px;
}
#u9 {
  position:absolute;
  left:2px;
  top:4px;
  width:241px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:810px;
  top:110px;
  width:240px;
  height:380px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:380px;
}
#u11 {
  position:absolute;
  left:2px;
  top:182px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:819px;
  top:110px;
  width:218px;
  height:40px;
  font-size:16px;
  text-align:center;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:40px;
}
#u13 {
  position:absolute;
  left:0px;
  top:10px;
  width:218px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:819px;
  top:150px;
  width:218px;
  height:10px;
}
#u14_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_end {
  position:absolute;
  left:201px;
  top:-5px;
  width:18px;
  height:20px;
}
#u14_line {
  position:absolute;
  left:0px;
  top:5px;
  width:218px;
  height:1px;
}
#u15 {
  position:absolute;
  left:819px;
  top:230px;
  width:218px;
  height:10px;
}
#u15_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_end {
  position:absolute;
  left:201px;
  top:-5px;
  width:18px;
  height:20px;
}
#u15_line {
  position:absolute;
  left:0px;
  top:5px;
  width:218px;
  height:1px;
}
#u16 {
  position:absolute;
  left:819px;
  top:320px;
  width:218px;
  height:10px;
}
#u16_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_end {
  position:absolute;
  left:201px;
  top:-5px;
  width:18px;
  height:20px;
}
#u16_line {
  position:absolute;
  left:0px;
  top:5px;
  width:218px;
  height:1px;
}
#u17 {
  position:absolute;
  left:819px;
  top:410px;
  width:218px;
  height:10px;
}
#u17_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_end {
  position:absolute;
  left:201px;
  top:-5px;
  width:18px;
  height:20px;
}
#u17_line {
  position:absolute;
  left:0px;
  top:5px;
  width:218px;
  height:1px;
}
#u18 {
  position:absolute;
  left:821px;
  top:170px;
  width:65px;
  height:50px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:50px;
}
#u19 {
  position:absolute;
  left:2px;
  top:17px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:899px;
  top:170px;
  width:137px;
  height:50px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:50px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:821px;
  top:250px;
  width:65px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:897px;
  top:250px;
  width:137px;
  height:50px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:50px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:821px;
  top:340px;
  width:65px;
  height:50px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:50px;
}
#u27 {
  position:absolute;
  left:2px;
  top:17px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:897px;
  top:340px;
  width:137px;
  height:50px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:50px;
}
#u29 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:819px;
  top:430px;
  width:65px;
  height:50px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:50px;
}
#u31 {
  position:absolute;
  left:2px;
  top:17px;
  width:61px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:899px;
  top:420px;
  width:137px;
  height:50px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  height:50px;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:137px;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:98px;
  top:144px;
  width:242px;
  height:56px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:56px;
}
#u35 {
  position:absolute;
  left:2px;
  top:19px;
  width:238px;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:98px;
  top:230px;
  width:672px;
  height:80px;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:672px;
  height:80px;
}
#u37 {
  position:absolute;
  left:2px;
  top:32px;
  width:668px;
  visibility:hidden;
  word-wrap:break-word;
}
#u38 {
  position:absolute;
  left:120px;
  top:240px;
  width:630px;
  height:60px;
  font-size:14px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  height:60px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:630px;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:670px;
  top:330px;
  width:100px;
  height:30px;
  color:#FFFFFF;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u41 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:160px;
  top:420px;
  width:610px;
  height:10px;
}
#u42_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_end {
  position:absolute;
  left:593px;
  top:-5px;
  width:18px;
  height:20px;
}
#u42_line {
  position:absolute;
  left:0px;
  top:5px;
  width:610px;
  height:1px;
}
#u43 {
  position:absolute;
  left:534px;
  top:394px;
  width:226px;
  height:36px;
  font-size:14px;
  color:#CC3333;
  text-align:center;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:36px;
}
#u44 {
  position:absolute;
  left:0px;
  top:8px;
  width:226px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:60px;
  top:397px;
  width:100px;
  height:30px;
  font-size:14px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u46 {
  position:absolute;
  left:2px;
  top:6px;
  width:96px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:98px;
  top:460px;
  width:105px;
  height:60px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:60px;
}
#u48 {
  position:absolute;
  left:2px;
  top:22px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:229px;
  top:460px;
  width:140px;
  height:30px;
  color:#CC3333;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u50 {
  position:absolute;
  left:0px;
  top:5px;
  width:140px;
  word-wrap:break-word;
}
#u51 {
  position:absolute;
  left:229px;
  top:490px;
  width:501px;
  height:30px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:501px;
  height:30px;
}
#u52 {
  position:absolute;
  left:0px;
  top:7px;
  width:501px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:229px;
  top:500px;
  width:482px;
  height:100px;
}
#u53_input {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:100px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u54 {
  position:absolute;
  left:60px;
  top:630px;
  width:710px;
  height:10px;
}
#u54_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_end {
  position:absolute;
  left:693px;
  top:-5px;
  width:18px;
  height:20px;
}
#u54_line {
  position:absolute;
  left:0px;
  top:5px;
  width:710px;
  height:1px;
}
#u55 {
  position:absolute;
  left:98px;
  top:680px;
  width:105px;
  height:60px;
}
#u55_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:60px;
}
#u56 {
  position:absolute;
  left:2px;
  top:22px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u57 {
  position:absolute;
  left:229px;
  top:680px;
  width:152px;
  height:30px;
  color:#CC3333;
}
#u57_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u58 {
  position:absolute;
  left:0px;
  top:5px;
  width:152px;
  word-wrap:break-word;
}
#u59 {
  position:absolute;
  left:188px;
  top:710px;
  width:542px;
  height:30px;
}
#u59_img {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:30px;
}
#u60 {
  position:absolute;
  left:0px;
  top:7px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u61 {
  position:absolute;
  left:229px;
  top:720px;
  width:482px;
  height:80px;
}
#u61_input {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:80px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u62 {
  position:absolute;
  left:60px;
  top:830px;
  width:710px;
  height:10px;
}
#u62_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_end {
  position:absolute;
  left:693px;
  top:-5px;
  width:18px;
  height:20px;
}
#u62_line {
  position:absolute;
  left:0px;
  top:5px;
  width:710px;
  height:1px;
}
#u63 {
  position:absolute;
  left:98px;
  top:880px;
  width:105px;
  height:60px;
}
#u63_img {
  position:absolute;
  left:0px;
  top:0px;
  width:105px;
  height:60px;
}
#u64 {
  position:absolute;
  left:2px;
  top:22px;
  width:101px;
  visibility:hidden;
  word-wrap:break-word;
}
#u65 {
  position:absolute;
  left:229px;
  top:880px;
  width:152px;
  height:30px;
  color:#CC3333;
}
#u65_img {
  position:absolute;
  left:0px;
  top:0px;
  width:152px;
  height:30px;
}
#u66 {
  position:absolute;
  left:0px;
  top:5px;
  width:152px;
  word-wrap:break-word;
}
#u67 {
  position:absolute;
  left:198px;
  top:910px;
  width:542px;
  height:30px;
}
#u67_img {
  position:absolute;
  left:0px;
  top:0px;
  width:542px;
  height:30px;
}
#u68 {
  position:absolute;
  left:0px;
  top:7px;
  width:542px;
  visibility:hidden;
  word-wrap:break-word;
}
#u69 {
  position:absolute;
  left:229px;
  top:920px;
  width:482px;
  height:90px;
}
#u69_input {
  position:absolute;
  left:0px;
  top:0px;
  width:482px;
  height:90px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#333333;
  text-align:left;
}
#u70 {
  position:absolute;
  left:70px;
  top:1030px;
  width:700px;
  height:10px;
}
#u70_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_end {
  position:absolute;
  left:683px;
  top:-5px;
  width:18px;
  height:20px;
}
#u70_line {
  position:absolute;
  left:0px;
  top:5px;
  width:700px;
  height:1px;
}
#u71 {
  position:absolute;
  left:70px;
  top:1060px;
  width:690px;
  height:36px;
  color:#CCCCCC;
  text-align:center;
}
#u71_img {
  position:absolute;
  left:0px;
  top:0px;
  width:690px;
  height:36px;
}
#u72 {
  position:absolute;
  left:0px;
  top:8px;
  width:690px;
  word-wrap:break-word;
}
#u73 {
  position:absolute;
  left:560px;
  top:460px;
  width:140px;
  height:24px;
  color:#CCCCCC;
}
#u73_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:24px;
}
#u74 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u75 {
  position:absolute;
  left:560px;
  top:676px;
  width:140px;
  height:24px;
  color:#CCCCCC;
}
#u75_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:24px;
}
#u76 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u77 {
  position:absolute;
  left:560px;
  top:880px;
  width:140px;
  height:24px;
  color:#CCCCCC;
}
#u77_img {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:24px;
}
#u78 {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  word-wrap:break-word;
}
#u79 {
  position:absolute;
  left:120px;
  top:325px;
  width:40px;
  height:40px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:20px;
  color:#CC3333;
  text-align:center;
}
#u79_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u80 {
  position:absolute;
  left:0px;
  top:10px;
  width:40px;
  word-wrap:break-word;
}
#u81 {
  position:absolute;
  left:160px;
  top:320px;
  width:40px;
  height:40px;
  font-family:'Iaxurefont Medium', 'Iaxurefont';
  font-weight:500;
  font-style:normal;
  font-size:28px;
  color:#CC3333;
  text-align:center;
}
#u81_img {
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:40px;
}
#u82 {
  position:absolute;
  left:0px;
  top:10px;
  width:40px;
  word-wrap:break-word;
}
